<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon><a href="/home" style="color: white;">supervised_user_circle</a></mat-icon>
    </button>
    <span>Result Management System</span>
</mat-toolbar>
<div class="container mt-6">
 <div class="text-center m-4"> <div class="col">Login As</div> </div>
<div class="container h-100 d-flex justify-content-center align-items-center">
     <div class="row text-center">
        <div class="col">
            <a class="btn btn-primary px-3 py-2" href="/loginStudent" role="button">Student</a>
        </div>
        <div class="col">
            <a class="btn btn-primary px-3 py-2" href="/login" role="button">Teacher</a>
        </div>
    </div>
</div>
</div>


